/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Styling starts here*/

a{
  text-decoration: none;
}
html, body, section, aside
{
	height: 100%;
	box-sizing: border-box;
}

#main-content-wrapper
{
	height: 86%;
}

h1, section, h2, aside, li, label, p
{
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif
}

section, header, footer
{
  width: 700px;
}

#remember
{
  display: inline-block;
}

footer
{
	padding: 35px 0 40px;
	font-size: 14px;
  text-align: center;
  margin: 0 auto;
	color: #a5a5a5;
	margin-bottom: 40px;
}

footer p:last-of-type
{
	font-size: 11px;
	margin-top: 30px
}

footer p:first-of-type
{
	margin-bottom: 50px;
	text-align: center;
}

footer p a{
	text-decoration: none;
	color: #a5a5a5;
	padding: 0 20px;
	border-right: 1px solid #a5a5a5;
}

footer p a:last-of-type
{
	border-right: none;
}

header
{
  margin: 60px auto 0;
  vertical-align: baseline;
}

aside{
  float: right;
  border: 1px solid black;
	font-size: 14px;
  height: 100%;
  width: 200px;
  margin-left: 20px;
  padding: 25px 25px 25px 15px;
	background-color: #F5F5F5;
}

section
{
  padding: 30px 20px 30px 50px;
  margin: 20px auto;
  border: 1px solid black; /*Need to  be removed later*/
	box-shadow: 3px 3px 2px grey;
}

.#main-content-wrapper:after{
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
  content: "";
}

header, input, footer, section, #main-content-wrapper, aside, html, body
{
  box-sizing: border-box;
}

header a{
  color: rgb(51,51,51);
  font-size: 15px;
  right: 0;
	display: inline-block;
	position: relative;
}

header img
{
	display: inline-block;
	position: relative;
	vertical-align: text-bottom;
}

header p span
{
	position: relative;
	left: 460px;
}

h2
{
  font-size: 20px;
	margin-bottom: 10px;
}

h1
{
  font-size: 30px;
	color: rgb(51,51,51);
	margin-bottom: 40px;
}

.sign-up
{
  color: black;
  padding: 0 10px;
  font-weight: bold;
  border-right: 1px solid #D3D3D3;
}

li
{
	list-style-type: disc;
	margin-bottom: 13px;
	margin-left: 20px;
}

label{
	font-size: 14px;
	color: rgb(51,51,51);
	display: inline-block;
	margin-bottom: 25px;
}

input
{
	display: block;
	width: 320px;
	height: 34px;
	margin-bottom: 25px;
	border-radius: 2px;
	border: 1px solid rgb(216,216,216);
}

#submit
{
	padding: 10px 25px 10px 45px;
	color: white;
	width: auto;
	height: auto;
	background-color: #45CAE6;
	background-image: url("images/signup_img.png");
	background-repeat: no-repeat;
	background-position: 25px 10px;
	border: none;
	text-transform: uppercase;;
}

#submit:hover
{
	cursor: pointer;
}

section p
{
	color: rgb(125,125,125);
	font-size: 12px;
}

section p a
{
	text-decoration: none;
	color: #45cae6;
}

input[type="checkbox"]
{
	width: auto;
	height: auto;
}

input:last-of-type
{
	margin-bottom: 10px;
}
